<ion-view>

	<ion-content>
		<h1>GIF</h1>
	</ion-content>

	<!-- buttons div -->
	<div class="fixed-outside text-center padding-normal">
		<button id="btnDonate" class="button button-block button-calm" ng-click="authBusiness()">
			אני בית עסק ויש לי אוכל לתת
		</button>
		<button id="btnCollect" class="button button-block button-calm" ng-click="authVolunteer()">
			אני אוסף אוכל מטעם ארגון כלשהו
		</button>
        
        <!--<div class="row">
            <div class="col">
                <button id="btnDonate" class="button button-circle button-energized icon" ng-click="authBusiness()">D</button>
            </div>
            <div class="col">
                <button id="btnCollect" class="button button-circle button-positive icon" ng-click="authVolunteer()">C</button>
            </div>
        </div>-->
	</div>
</ion-view>
<!-- <div class="fixed-outside">
  <div class="row">
    <div class="col">
        <button id="btnDonate" class="button button-circle button-energized icon">D</button>
    </div>
    <div class="col">
        <button id="btnCollect" class="button button-circle button-positive icon">C</button>
    </div>
</div>
 -->
<!-- <a href="#/makeDonation">
	<button id="btnDonate" class="button button-float align-left">
		G
	</button>
</a>	
<a href="#/collectFood">
	<button id="btnCollect" class="button button-float align-right">
		C
	</button>
</a> -->

<!-- <ion-content class="has-subheader center" padding=true>
	<h4 class="title calm"></h2>
	<a href="#/makeDonation">
		<button id="btnDonate" class="button button-block button-calm">
			I HAVE SOME FOOD TO GIVE
		</button>
	</a>
	<a href="#/collectFood">
		<button id="btnCollect" class="button button-block button-calm">
			I WANT TO COLLECT FOOD
		</button>
	</a>
</ion-content> -->